<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Parsnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Parsnet.Properties.Settings>
      <setting name="Revision" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Build" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClientFilePath" serializeAs="String">
        <value>http://www.rizeh.com/Client/RizehClient.exe</value>
      </setting>
      <setting name="Major" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Minor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResetPasswordEmail" serializeAs="String">
        <value>&lt;!DOCTYPE html&gt;\r\n\r\n&lt;html lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\"&gt;\r\n&lt;head&gt;\r\n    &lt;meta charset=\"utf-8\" /&gt;\r\n    &lt;title&gt;&lt;/title&gt;\r\n&lt;/head&gt;\r\n&lt;body&gt;\r\n    &lt;div style=\"direction: rtl; text-align: justify; font-family: Tahoma; font-size: 14px; line-height: 18px;\"&gt;\r\n        برای بازنشانی رمز عبور خود در نرم افزار ریزه بر روی لینک زیر کلیک کنید:&lt;br /&gt;\r\n    &lt;a href=\"[Url]\"&gt;بازنشانی رمز عبور در ریزه&lt;/a&gt;\r\n    &lt;/div&gt;\r\n&lt;/body&gt;\r\n&lt;/html&gt;</value>
      </setting>
      <setting name="ScoreStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>7070</value>
      </setting>
    </Parsnet.Properties.Settings>
  </userSettings>
</configuration>